
<div class="container">
  <div class="row no-gutters">
    <div class="col-12">
      <nav class="navbar cl-main-nav navbar-light">
        <a class="navbar-brand" href="#" aria-label="CoreLogic Logo">
          <span class="navbar-logo"></span>
        </a>
        <a class="nav-link text-uppercase ml-auto" href="javascript:">
          <span class="clgx-icon-customer-support mt-1"><span class="sr-only">Headset Icon</span></span>
          Contact
        </a>
      </nav>
    </div>
  </div>
</div>
<div class="login-bg gradient-blue-bg" style="background-image: url('images/laptop-photo.jpg');">
  <div class="container">
    <div class="row no-gutters pl-3">
      <div class="order-last order-md-first col-sm-12 col-md-5 d-flex flex-column">
        <div class="form-group">
          <label class="text-white" for="userNameText">User Name</label>
          <input type="text" id="userNameText" class="form-control" placeholder="">
        </div>
        <button class="btn btn-primary btn-block my-4 text-uppercase" routerLink="home">Sign In</button>
        <p class="text-gallery">
          Need Help? Call our toll free number at <a href="" class="text-gallery">(866) 781-8321</a>
          or send us an <a href="" class="text-gallery">email</a>.
        </p>
        <div class="mt-auto">
        </div>
      </div>
      <div
        class="order-first order-md-last col-sm-12 col-md-5 offset-sm-0 offset-md-2 d-flex flex-column pb-sm-4 pb-md-0">
        <h3 class="text-white">CoreLogic Underwriting Platform</h3>
        <h1 class="text-white mt-2 mb-3">One Platform</h1>
        <p>Vivamus vitae massa purus. Phasellus consectetur neque
          elit, eu rhoncus magna varius vehicula. Vestibulum mollis
          iaculis justo, ut finibus ipsum. Duis enim velit, elementum
          vehicula malesuada sit amet, maximus quis tortor. Duis
          tristique vulputate orci eu congue.</p>
        <div class="mt-auto">
          <hr class="bg-gallery my-4">
          <div class="d-flex flex-row">
            <div class="clgx-icon-warning icon-block"></div>
            <p>The system is currently undergoing upgrades! <br>Please check back for something new.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row no-gutters">
    <div class="col-12">

      <footer class="footer footer-light">
        <div class="footer-logo">
          <div class="clgx-logo"></div>
        </div>
        <div class="footer-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:">About Our Company</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:">Contact Us</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:">FAQs</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:">Sitemap</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.corelogic.com/legal.aspx" target="_blank">Legal</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.corelogic.com/privacy.aspx"
                 target="_blank">Privacy</a>
            </li>
          </ul>
          <div class="footer-date"> © 2018 CoreLogic. All Rights Reserved.</div>
        </div>
      </footer>
    </div>
  </div>
</div>
