<nav class="navbar navbar-expand-md cl-main-nav navbar-light">
  <a class="navbar-brand" href="#">
    <span class="navbar-logo"></span>
    CORELOGIC UNDERWRITING PLATFORM
  </a>
  <div class="navbar-links navbar-toggler" id="navbarMobileToggler">
    <nav class="nav">
      <a aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation"
         class="nav-item nav-link collapsed menu-toggle" data-toggle="collapse" href="#navbarSupportedContent">
        <span aria-hidden="true" class="fa fa-bars"><span class="sr-only">Toggle Navigation</span></span>
      </a>
    </nav>
  </div>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <div class="navbar-links ml-auto">
      <nav class="nav">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="text-uppercase">RCT</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-fw fa-user-circle"><span class="sr-only">User Icon</span></span>
            <span class="text-uppercase">Shelly</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <div class="nav-item">
          <a href="javascript:" class="nav-link">
            <span class="fa fa-fw fa-key"><span class="sr-only">Admin Icon</span></span> ADMIN
          </a>
        </div>
      </nav>
    </div>
  </div>
  <div class="navbar-search-container collapse" id="navbarSearchContainer">
    <div class="navbar-search">
      <div class="form-group">
        <label class="sr-only" for="mainNavbarSearch">Search</label>
        <div class="input-group left-icon">
                        <span class="input-group-addon input-icon">
                            <span class="fa fa-search"></span>
                        </span>
          <input class="form-control" id="mainNavbarSearch" placeholder="Search for a Property" type="text"
                 value="">
        </div>
        <a class="clear-search" href="javascript:"><span class="fa fa-times"><span
          class="sr-only">Clear Search Field</span></span></a>
      </div>
    </div>
  </div>
</nav>
<app-rct></app-rct>
<footer class="footer footer-light">
  <div class="footer-logo">
    <div class="clgx-logo"></div>
  </div>
  <div class="footer-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:">About Our Company</a>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:">Contact Us</a>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:">FAQs</a>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:">Sitemap</a>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:">Terms of Use</a>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:">Policies</a>
      </li>
    </ul>
    <div class="footer-date">
      &copy; 2018 CoreLogic. All Rights Reserved.
    </div>
  </div>
</footer>

